[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
gevent = "*"
requests = "*"
stups-tokens = ">=1.1.19"
redlock-py = "*"
json-delta = ">=2.0"
kubernetes = "==7.0.0a1"
flask = "*"
flask-oauthlib = "*"


[dev-packages]

"flake8" = "*"
pytest = "*"
pipenv = "*"

pytest-cov = "*"
coveralls = "*"

[requires]

python_version = "3.7"

[pipenv]
allow_prereleases = true
